{% extends "base.html" %}
{% load static %}
{% block meta_description %}Welcome to Shoply! Your one-stop shop for all your needs.{% endblock %}
{% block meta_keywords %}home, shopping, ecommerce, deals, shoply{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Shop Now - Hero Section -->
<div class="shop-now-section">
    <video id="background-video" autoplay muted class="background-video">
        <source src="{% static 'vid/westfield_mall.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    
    <h1 class="display-4">
        The new collections are here
    </h1>
    
    <div class="my-5">
        <h4>
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 text-center">🎄 Shop Now </a>
        </h4>
    </div>
</div>
<!-- Most Trending Store Products -->
<div class="container-fluid my-5 text-center">
    <div class="row justify-content-center">
        <div class="col-12 mb-4">
            <h2 class="text-black">Trending Now</h2>
        </div>
        <!-- Trending Products with Circular Layout -->
        <div class="col-12 d-flex flex-wrap justify-content-center trending-products">
            {% for product in trending_products %}
            <a href="{% url 'product_detail' product.id %}">
                <div class="trending-product mx-2 my-2">
                    <img src="{{ product.imgUrl }}" alt="{{ product.title }}" class="circle-image" onError="this.onerror=null;this.src='{% static 'img/no_image.jpeg' %}';">
                </div>
            </a>
            {% empty %}
            <p class="text-center">No trending Products available.</p>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Recently Views Items - Responsive Grid -->
<div class="col-12 text-center mb-4">
<h3 class="recently-viewed-title">Recently Viewed</h3>
</div>
<div class="container-fluid mx-auto">
    <div class="row mx-auto">
        {% if recently_viewed_products %}
        {% for product in recently_viewed_products %}
        <div class="col-6 col-md-3 mb-3 position-relative square-product">
            <a href="{% url 'product_detail' product.id %}">
                <div class="card h-100">
                    <img src="{{ product.imgUrl }}" class="card-img-top square-image" alt="{{ product.title }}" onError="this.onerror=null;this.src='{% static 'img/no_image.jpeg' %}';">
                    <!-- Price Badge at Bottom Left -->
                    <div class="price-badge">
                        ${{ product.price }}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        <p>You haven't viewed any products yet!</p>
        {% endif %}
    </div>
</div>
{% endblock %}