{% load static %}
<!-- Main Navigation Container -->
<div class="container-fluid bg-light py-3">
  <div class="row justify-content-center">
    <!-- Outer Columns for Responsive Margin -->
    <div class="col-11 col-lg-10">
      <!-- Navigation Bar -->
      <nav class="row justify-content-between align-items-center">
        <!-- Logo and Categories (First Section) -->
        <section class="col-3 d-flex align-items-center">
          <div class="d-flex align-items-center w-100">
            <a class="navbar-brand d-flex align-items-center me-4" href="{% url 'home' %}">
              <!-- Logo -->
              <img src="{% static 'img/shoply_logo.png' %}" alt="Shoply Logo">
              Shoply
            </a>
            <!-- Categories Dropdown -->
            <ul class="nav">
              <li class="nav-item dropdown">
                <button class="nav-link btn btn-link text-dark d-flex align-items-center" type="button" id="Categories"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <!-- Font Awesome Hamburger Icon (left side) -->
                  <i class="fa-solid fa-bars me-1"></i>
                  <span>Categories</span>
                </button>
                <!-- Navbar Dropdown -->
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                  {% for category in categories %}
                  <li>
                    <a class="dropdown-item {% if selected_category == category %}active{% endif %}"
                      href="{% url 'products' %}?category={{ category|urlencode }}">
                      {{ category }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div>
        </section>
        <!-- Search Bar (Middle Section) -->
        <section class="col-5 col-lg-6 d-flex justify-content-center">
          <form class="d-flex mx-auto w-100" method="get" action="{% url 'products' %}">
            <div class="input-group">
              <!-- Search Bar -->
              <label for="searchInput" class="visually-hidden">Search our site</label>
              <input id="searchInput" type="search" class="form-control" name="q" placeholder="Search our site"
                aria-label="Search">
              <!-- Fontawesome Search Icon -->
              <button class="btn btn-outline-secondary" type="submit">
                <span class="icon">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </span>
              </button>
            </div>
          </form>
        </section>
        <!-- User Icons (Last Section) -->
        <section class="col-3 d-flex justify-content-center align-items-center">
          <ul class="nav">
            <!-- Sign-In (Visible only when user is not authenticated) -->
            {% if not request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false" title="Account">
                <i class="fa-solid fa-user user-icon"></i>
                Account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'account_login' %}" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Sign In">Sign In</a></li>
                <li><a class="dropdown-item" href="{% url 'account_signup' %}" data-bs-toggle="tooltip"
                    data-bs-placement="bottom" title="Sign Up">Sign Up</a></li>
              </ul>
            </li>
            {% endif %}
            <!-- User Profile Dropdown (Visible only when user is authenticated) -->
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Your Account">
                <i class="fa-solid fa-user-circle user-icon"></i>
              </a>
              <!-- Dropdown Menu -->
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if request.user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'add_product' %}"><span>Website Management</span></a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'profile' %}"><span>My Profile</span></a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'account_logout' %}"><span>Logout</span></a></li>
              </ul>
            </li>
            {% endif %}
            <!-- Basket Icon -->
            <li class="nav-item">
              <a href="{% url 'view_bag' %}" class="btn btn-link position-relative text-dark" data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Basket">
                <i class="fa-solid fa-basket-shopping user-icon"></i>
              </a>
            </li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
</div>