{% load static %}
<!-- Mobile Navigation Upper Container -->
<div class="container-fluid bg-light pt-3">
    <div class="row justify-content-center">
        <!-- Outer Columns for Responsive Margin -->
        <div class="col-11">
            <!-- Navigation Bar -->
            <nav class="d-flex justify-content-between align-items-center">
                <!-- Logo (First Section) -->
                <div class="d-flex align-items-center">
                    <a class="navbar-brand d-flex align-items-center me-4" href="{% url 'home' %}">
                        <!-- Logo -->
                        <img src="{% static 'img/shoply_logo.png' %}" alt="Shoply Logo">
                        Shoply
                      </a>
                    </div>
                <!-- User Icons (Last Section) -->
                <div class="d-flex align-items-center">
                    <ul class="nav d-flex">
                        <!-- Sign-In (Visible only when user is not authenticated) -->
                        {% if not request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" title="Account">
                                <i class="fa-solid fa-user" style="font-size: 20px;"></i>
                                Account
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'account_login' %}" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Sign In">Sign In</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_signup' %}" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="Sign Up">Sign Up</a></li>
                              </ul>
                        </li>
                        {% endif %}
                        <!-- User Profile Dropdown (Visible only when user is authenticated) -->
                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                data-bs-placement="bottom" title="Your Account">
                                <i class="fa-solid fa-user-circle" style="font-size: 20px;"></i>
                            </a>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu">
                                {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="add_product"><span>Website Management</span></a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{% url 'profile' %}"><span>My Profile</span></a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}"><span>Logout</span></a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <!-- Basket Icon -->
                        <li class="nav-item">
                            <a href="{% url 'view_bag' %}" class="btn btn-link position-relative text-dark"
                                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Basket">
                                <i class="fa-solid fa-basket-shopping" style="font-size: 20px;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Mobile Navigation Lower Container -->
<div class="container-fluid bg-light py-2">
    <div class="row justify-content-center">
        <!-- Outer Columns for Responsive Margin -->
        <div class="col-11">
            <!-- Categories Dropdown and Search Bar -->
            <nav class="d-flex justify-content-between align-items-center">
                <!-- Categories Dropdown -->
                <div class="d-flex align-items-center">
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <button class="nav-link btn btn-link text-dark d-flex align-items-center ps-0" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <!-- Font Awesome Hamburger Icon (left side) -->
                                <i class="fa-solid fa-bars"></i>
                            </button>
                            <!-- Navbar Dropdown -->
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item " href="{% url 'products' %}">All Products</a></li>
                                {% for category in categories %}
                                <li>
                                    <a class="dropdown-item {% if selected_category == category %}active{% endif %}"
                                        href="{% url 'products' %}?category={{ category|urlencode }}">
                                        {{ category }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Search Bar (Last Section) -->
                <div class="d-flex justify-content-center align-items-center flex-grow-1">
                    <form class="d-flex mx-auto w-100" method="get" action="{% url 'products' %}">
                        <div class="input-group">
                            <!-- Search Bar -->
                            <label for="searchInput2" class="visually-hidden">Search our site</label>
                            <input id="searchInput2" type="search" class="form-control" name="q"
                                placeholder="Search our site" aria-label="Search">
                            <!-- Fontawesome Search Icon -->
                            <button class="btn btn-outline-secondary" type="submit">
                                <span class="icon">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</div>